<%- include('./partials/header.ejs') %>
<p>D&D-4-WE is a new company looking to bring you and your friends closer together by making it easier to meet up for D&D!
    We hope that you not only meet up with current friends but get out there and make new friends that you can go on adventures with!
</p>

<%- include('./partials/footer.ejs') %>