<%- include('./partials/header.ejs') %>

<h1>Contact Us!</h1>
<div class="groupList">
<table>
    <tr>
     <td>Evelynn Flanigan</td>
    </tr>
    <tr>
     <td>704-403-8987</td>
</tr>
<tr>
     <td>myemail@real.com</td>
</tr>
</table>
</div>
<%- include('./partials/footer.ejs') %>