<%- include('./partials/header.ejs') %>

<p>Welcome to DND-4-WE. This website is meant to help individuals find a group of people to play DND with or to help a group fill in the last slot of a group. 
    Make sure to be friendly and ready to play and mingle when you reach out to someone else to play.</p>


</body>

<%- include('./partials/footer.ejs') %>